table{
    width: 100%;
}

th{
    background-color: lightgray;
    text-align: center;
    padding: 8px;
}

td{
    padding: 8px;
    text-align: left;
}

tr:nth-child(even){
    background-color: white;
}

tr:nth-child(odd){
    background-color: rgb(241, 241, 241);
}

tr:hover{
    background-color: lightgray;
}

