@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

main{    
    color: white;
    padding: 15px;
    background: linear-gradient(45deg, #111010, #111010, #111010, white );
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside{
   margin-top: 30px; 
}

article{
    display: flex;
}

#login{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
}

#login a:hover{
    color: gray;
}

#login a{
    text-decoration: none;
    color: white;
    font-family: "Inter";
    font-size: 25px;
}

#login img{
    width: 28px;
    height: 28px;
}


#subtitulos{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

#subtitulos div{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

h1{
    font-size: 55px;
    font-family: "Montserrat", sans-serif;
    color: #3d79ef;
    text-shadow:0 0 0.3em #3d79ef;
}

.check{
    width: 30px;
    height: 30px;
    margin-left: 40px;
}

#lampada{
    width: 70px;
    height: 70px;
}

#subtitulos h2 {
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
}

p{
    font-family: "Montserrat", sans-serif;  
}

#fundo{
    left: 50px;
    width: 500px;
    height: 500px;
}

#homem{
    position: absolute;
}

#aprendaCom{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.topico{
    border: 1px inset;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    width: 15em;
    box-shadow:  8px 13px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    flex: 1 2;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    background-color: rgba(253, 244, 244, 0.479);
}

.topico img{
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
}

.topico p{
    font-size: 18px;
}

#subAumente{
    font-family: "Montserrat", sans-serif; 
    text-align: center;
    font-size: 40px;
    color: #3d79ef;
    margin: 100px 0 30px 0;
}

.inscreva{
    color: white;
    background: black;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    align-items: center;
}

#btn-matr{
    background: rgb(224, 125, 55);
    font-family: "Montserrat", sans-serif;
    width: 25em;
    padding: 20px;
    margin-top: 30px;
    border: none;
    font-size: 100%;
}

#btn-matr:hover{
    cursor: pointer;
    background: #efb916;
    transition: 0.3s;
}

@media screen and (max-width: 860px) {
    #div-img-principal{
        display: none;
    }

    h1{
        font-size: 35px;
    }
}