body{
    background: #111010;
    color: white;
    font-family: "Montserrat", sans-serif;
}

/*Estilo dos campos do formulário*/
form{
    display: flex;
    flex-direction: column;
    width: 40%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(224, 125, 55);
    color: black;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 15px;
    padding: 15px;
    border: none;
    border-radius: 15px;
}
/*Fim do estilo dos campos do formulário*/